<% if (!user) { %>
<div class="navbar">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons">camera</i>SugarFixed</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li class="logo"><a href="#!" class="brand-logo"><i class="material-icons">camera</i>SugarFixed</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/register">Sign Up</a></li>
</ul>
<% } else { %>
<div class="navbar">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons">camera</i>SugarFixed</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/result">Result</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li class="logo"><a href="#!" class="brand-logo"><i class="material-icons">camera</i>SugarFixed</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/result">Result</a></li>
</ul>
<% } %>