<%- include ("./partials/toasts") %>
<%- include ("./partials/navigation") %>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <div class="container ">
                <div class="camera" id="camera">
                    <div>
                        <canvas class="canvas" id="canvas"></canvas>
                        <video class="video" id="video" poster="/images/camera.JPG" autoplay></video>


                            </div>
                            <div>
                                <button id="openCamera" class="waves-effect button btn-large"><i id='openCameraIcon'
                                        class="material-icons right">power_settings_new</i><span id='cameraBtnText'>Open Camera</span></button>
                                <button id="takePhoto" class="waves-effect button btn-large"><i
                                        id = "scanIcon" class="material-icons right">camera</i><span id="scanText">Scan Label</span></button>
                            </div>
                        </div>
                        <h5 class="header col s12 light">Welcome to SugarFixed! <br><br> Take a photo of an ingredients
                            list and SugarFixed will tell you
                            what sugars are hiding in your food. Sign up or log in to get started.</h5>


                   
            </div>
            <br><br>
        </div>
    </div>
    <div class="features container">
        <div class="section">

            <!--   Features Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center "><i class="fa fa-robot coloured"></i></h2>
                        <h5 class="center">How does it work?</h5>

                        <p class="light">SugarFixed utilises the latest AI character recognition algorithms to
                            identify the sugars that are hiding in your food.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center "><i class="fa fa-utensils coloured"></i></h2>
                        <h5 class="center">What's the point?</h5>
                        <p class="light">Sugar goes by over 50 different names. It can be hard to remember them
                            all if you're trying to eat healthy. Now you won't have to. </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="fa fa-paper-plane coloured"></i></h2>
                        <h5 class="center">Contact Us</h5>
                        <p class="light">We'd love to hear from you. Contact us with
                            any feedback you might have!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>


        <div id="modal1" class="modal">
            <div class="row modal-content">
                <form class="col s12">
                    <p>Enter a name for your product and we'll add it to your database.</p>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Product name" id="productName" type="text" class="validate">
                            <!-- <input placeholder="Product name" id="productName"> -->
                            <label for="productName">Product Name</label>
                        </div>
                    </div>


            <div class="row">
                <div class="input-field col s12 center-align">
                    <a class="waves-effect waves-light btn button" id="formSubmit">submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/landing.js" async defer></script>
<script>
    $(function () { 
        <% if (!user) { %>
            $('#takePhoto').click(() => {
                M.toast({html: 'You are not logged in. Redirecting you to the login page...'})
                setTimeout(function(){
                    window.location.href="/login";
                }, 2000);
            });
        <% } else { %>
            $('#takePhoto').click(() => {
                takePhoto()
            });
        <% } %>
     });


    //Chatbot
    window.watsonAssistantChatOptions = {
        integrationID: "04a07e30-2ac7-4475-a1de-444a09c20ef6", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "08769878-bef4-43b3-a1eb-85e9d096fe1a", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>
