<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <title>SugarFixed</title>
    <meta property="og:title" content="SugarFixed Label Scanning">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Website for food label reading sugar identification application.">

    <!-- Compiled and minified CSS -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Materialze-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
   
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/camera-icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/camera-icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Custom Style Sheet-->
    <link href="css/styles.css" rel="stylesheet">

    <!-- socket IO Served by the server -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async defer></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" async defer></script>

    <!-- Common javascript (for all pages) -->
    <script src="js/common.js" async defer></script>
</head>

<body>
    <main>
        <%- body %>
    </main>

    <footer class="page-footer" id="myFooter">
        <div class="footer-copyright">
            <div class="container" id="copyright">
                © 2021 SugarFixed
            </div>
        </div>
    </footer>
</body>

</html>