<h5>Sample User Result/Dashboard page</h5>
<p>Welcome <%= user.name %></p>
<button class="btn waves-effect waves-light" type="button" name="logout"
    onclick="window.location.href='/logout';">Logout
    <i class="material-icons right">logout</i>
</button>