.sidenav li>a {
  padding:0 32px !important;
  color: #bd8497;
}

.collapsible-body>ul>li>a {
          padding: 0 48px !important;
          font-weight: 400 !important;
}

.icon-block {
  padding: 0 15px;
}


.brand-logo{
  width: fit-content;  /* fit-content prevented text from splitting over two lines on some mobile interfaces*/
  height: 100%;
  font-size: 100px;
  padding-left: 50px;
  
}

.container{
  height: 100%;
  position: relative;
}

.nav-wrapper{
  font-size:large;
  width: 100%;
background-color: #bd8497;
padding-left: 20px;
}

#myFooter {
  background-color: #bd8497;  
  font-size: large;
  color: white;
  
}
#copyright{
  color: white;  
}

body {
  display: flex;  
  flex-direction: column;
  background-color: #d6c9b0 ;
  background-size: contain;  
}

.camera{  
  width: fit-content !important;
  margin-left: auto;
  margin-right:auto;
  border: 10px solid white;
  border-radius: 10px;
  background-color: white;  
 
}

.coloured {
  color: #bd8497;
}
.fas {
  color: #bd8497;
}

.features{
  font-size: large;
}
.cameraButtons-button {
  background-color: #bd8497; 
  font-size: large;  
  margin-top: 10px;
  margin-bottom: 10px;
}
.cameraButtons-button:hover {
  background-color: #d6c9b0
}
.cameraButtons-button:focus{
  background-color: #bd8497;
}

.cameraButtons-button:visited{
  background-color: #bd8497;
}

.video{
  width: 100%;    /*100% width enables responsive size*/  
}

.canvas {  
  position:absolute;
  top: 10;  
  z-index: 1;  /* Requires z-index to layer over video */
}

html,body{
  overflow-x: hidden; /* Overflow X prevents a gap between the navbar and the side of the page on some mobiles. */
}